<a href="https://colab.research.google.com/github/GladwelWanjau/Week-14-IP/blob/main/Anomaly_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Understanding the Problem

To help Carrefour in identifying anomalis in the data with regards tio sales for each day.

# Understanding the Context
As a Data analyst at Carrefour Kenya and are currently undertaking a project that will inform the marketing department on the most relevant marketing strategies that will result in the highest no. of sales (total price including tax). Your project has been divided into four parts where you'll explore a recent marketing dataset by performing various unsupervised learning techniques and later providing recommendations based on your insights.

# Experimental Design
1. Data Loading and Cleaning

2.Perform Exploratory Data Analysis

3. Implement the Solution

4. Challenge the Solution

In [ ]:
data<-read.csv("/content/Supermarket_Sales_Forecasting - Sales.csv")
data

     Date      Sales
1    1/5/2019  548.9715
2    3/8/2019   80.2200
3    3/3/2019  340.5255
4    1/27/2019 489.0480
5    2/8/2019  634.3785
6    3/25/2019 627.6165
7    2/25/2019 433.6920
8    2/24/2019 772.3800
9    1/10/2019  76.1460
10   2/20/2019 172.7460
11   2/6/2019   60.8160
12   3/9/2019  107.1420
13   2/12/2019 246.4875
14   2/7/2019  453.4950
15   3/29/2019 749.4900
16   1/15/2019 590.4360
17   3/11/2019 506.6355
18   1/1/2019  457.4430
19   1/21/2019 172.2105
20   3/11/2019  84.6300
21   2/25/2019 451.7100
22   3/5/2019  277.1370
23   3/15/2019  69.7200
24   2/17/2019 181.4400
25   3/2/2019  279.1845
26   3/22/2019 441.7560
27   2/8/2019   35.1960
28   3/10/2019 184.1070
29   1/25/2019 463.8900
30   3/15/2019 235.2105
⋮    ⋮         ⋮
971  1/1/2019   888.6150
972  2/10/2019  271.2885
973  1/26/2019  640.0380
974  2/11/2019  252.2520
975  2/7/2019   180.8730
976  3/6/2019   104.8320
977  3/4/2019   313.5720
978  2/26/2019  167.5800
979  3/10/2019   26.7225
980  2/4/2019    71.1585
981  1/19/2019  250.2780
982  1/23/2019  244.2300
983  3/14/2019  921.1860
984  1/23/2019  734.7060
985  1/9/2019   708.3195
986  2/7/2019   334.4775
987  2/18/2019   30.9960
988  1/3/2019   520.8000
989  3/29/2019  864.5700
990  1/28/2019  633.1080
991  3/22/2019  296.9400
992  1/24/2019  804.3000
993  3/10/2019  121.8630
994  2/22/2019  183.6450
995  2/18/2019   63.9975
996  1/29/2019   42.3675
997  3/2/2019  1022.4900
998  2/9/2019    33.4320
999  2/22/2019   69.1110
1000 2/18/2019  649.2990

In [ ]:
#Checking the structure of the data
str(data)

'data.frame':	1000 obs. of  2 variables:
 $ Date : chr  "1/5/2019" "3/8/2019" "3/3/2019" "1/27/2019" ...
 $ Sales: num  549 80.2 340.5 489 634.4 ...

In [ ]:
#Checking if there are any missing data in the data
anyNA(data)
#Therea are no missing values

[1] FALSE

In [ ]:
#Rechecking the above by finding out the total sum of missing values in the columns
colSums(is.na(data))
#The sum indicates that the data does not have any missing values.

 Date Sales
    0     0

In [8]:
#Improrting the relevant libraries
library(tidyverse)

ERROR: ignored

In [ ]:
library(tibbletime)

In [12]:
# Conversion of the data for easy analysis
data$Date <- as.Date(data$Date, "%m/%d/%Y")
data_table = data %>%

as.tibble() %>%

as_tbl_time(Date) %>%

arrange(Date) %>%

as_period("daily")

ERROR: ignored

In [ ]:
library(anomalize)



data_anomaly <- sales_ts %>%

time_decompose(Sales) %>% 

anomalize(remainder,max_anoms = 0.2, alpha=0.05) %>%

time_recompose() %>% glimpse()

In [ ]:
sales_anomaly %>% plot_anomalies(time_recomposed = TRUE)

#sales_anomaly %>% plot_anomaly_decomposition(time_recompose = T)

# Summary of Findings:
From the analysis it is clear that the data has no anomalies which a good indication of the sytems and internal control measures put in place by Carrefour management.